---
layout: default
---

{% include header.html %}

<div class="content" role="main">
  {% for post in paginator.posts %}
    {% include post_item.html post = post %}
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <nav class="pagination" role="navigation">
    {% if paginator.previous_page %}
      <a class="btn nav prev" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
    {% endif %}
    <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a class="btn nav next" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
    {% endif %}
  </nav>
  {% endif %}

  {% include author.html %}
</div>
