<section class="author">
  <div class="inner">
    <section class="author-meta">
      <a href="{% if site.author.url %}{{ site.author.url }}{% else %}{{ site.baseurl }}/{% endif %}">
        {% if site.author.avatar %}
          <img src="{{ site.author.avatar | asset_path }}" class="avatar">
        {% else %}
          {{ site.author.email | gravatar }}
        {% endif %}
      </a>
      <h4>{{ site.author.name }}</h4>
      <ul>
        {% if site.author.email %}
          <li>
            <span aria-hidden="true" data-icon="m"></span>
            <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
          </li>
        {% endif %}
        {% if site.author.github %}
          <li>
            <span aria-hidden="true" data-icon="g"></span>
            <a href="https://github.com/{{ site.author.github }}">{{ site.author.github }}</a>
          </li>
        {% endif %}
        {% if site.author.twitter %}
          <li>
            <span aria-hidden="true" data-icon="t"></span>
            <a href="https://twitter.com/{{ site.author.twitter }}">{{ site.author.twitter }}</a>
          </li>
        {% endif %}
      </ul>
    </section>
    <section class="author-bio">
      <p>{{ site.author.bio }}</p>
    </section>
  </div>
</section>
