<section class="author" role="contentinfo">
  <div class="inner">
    <section class="author-meta">
      <a href="{{ site.baseurl }}/">
        {% if site.author.avatar %}
          <img src="{{ site.author.avatar | asset_path }}" class="avatar">
        {% else %}
          {{ site.author.email | gravatar }}
        {% endif %}
      </a>
      <h4>{{ site.author.name }}</h4>
      <ul>
        <li>
          <span aria-hidden="true" data-icon="m"></span>
          <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
        </li>
        <li>
          <span aria-hidden="true" data-icon="g"></span>
          <a href="https://github.com/{{ site.author.github }}">{{ site.author.github }}</a>
        </li>
        <li>
          <span aria-hidden="true" data-icon="t"></span>
          <a href="https://twitter.com/{{ site.author.twitter }}">{{ site.author.twitter }}</a>
        </li>
      </ul>
    </section>
    <section class="author-bio">
      <p>{{ site.author.bio }}</p>
    </section>
  </div>
</section>
