{% if site.cover_image %}
  <header class="site-header cover" style="background-image: url({{ site.cover_image }})">
{% else %}
  <header class="site-header">
{% endif %}
  <div class="site-header-content inner">
    {% if site.logo %}
      <a class="site-logo" href="{{ site.baseurl }}/"><img src="{{ site.logo }}" alt="Site Logo"/></a>
    {% endif %}
    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <hr>
    <h2 class="site-subtitle">{{ site.subtitle }}</h2>
  </div>
</header>
