{% if site.cover_image %}
<header class="site-header cover-image-top" style="background-image: url({{ site.cover_image }})" data-top-top="background-position: 50% 50%;" data-top-bottom="background-position: 50% 70%;">
{% else %}
<header class="site-header">
{% endif %}
  <div class="vertical">
    <div class="site-header-content inner" {% if site.cover_image %}data-top-top="opacity: 1; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);" data-top-bottom="opacity: 0.2; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.2);"{% endif %}>
      {% if site.logo %}
        <a class="site-logo" href="{{ site.baseurl }}/"><img src="{{ site.logo | asset_path }}" alt="Site Logo"></a>
      {% endif %}
      <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <hr>
      <h2 class="site-subtitle">{{ site.subtitle }}</h2>
    </div>
  </div>
</header>
