<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.id %}
      <title>{{ page.title | strip_html | strip_newlines }} - {{ site.title }}</title>
      <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
    {% else %}
      <title>{{ site.title | strip_html }}</title>
      <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}">
    {% endif %}
    {% if page.id %}
      {% if page.description %}
        {% assign description = page.description %}
      {% elsif page.excerpt %}
        {% assign description = page.excerpt %}
      {% else %}
        {% assign description = page.content %}
      {% endif %}
    {% else %}
      {% assign description = site.description %}
    {% endif %}
    {% assign description = description | strip_html | strip_newlines | escape | truncate: 250 %}
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="license" href="{{ site.license }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}{{ site.baseurl }}/feed.xml">
    {% stylesheet screen %}
    <link rel="apple-touch-icon" href="{% asset_path touch-icon-iphone.png %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% asset_path touch-icon-ipad.png %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% asset_path touch-icon-iphone-retina.png %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% asset_path touch-icon-ipad-retina.png %}">

    {% if page.cover_image_large %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image:src" content="{{ page.cover_image_large }}">
    {% else %}
      <meta name="twitter:card" content="summary">
    {% endif %}
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}">
    {% if page.id %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    <meta name="twitter:description" content="{{ description }}">

    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.id %}
      <meta property="og:title" content="{{ page.title }}">
      <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
      <meta property="og:type" content="article">
      <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% else %}
      <meta property="og:title" content="{{ site.title }}">
      <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
      <meta property="og:type" content="website">
    {% endif %}
    <meta  property="og:description" content="{{ description }}">
    {% if page.cover_image_large %}
      <meta property="og:image" content="{{ page.cover_image_large }}">
    {% endif %}
</head>
