<article class="post post-item">
  <header class="post-header">
    {% assign post = include.post %}
    {% if post.cover_image %}
      <div class="cover-image">
        <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.cover_image }}"></a>
      </div>
    {% endif %}
    <div class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
      {% include category_links categories = post.categories %}
    </div>
    <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
  </header>
  <section class="post-excerpt">
    {% if site.auto_excerpt_enabled %}
      {{ post.content | truncate_html }}
    {% else %}
      {{ post.excerpt }}
    {% endif %}
    <a class="readmore" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
  </section>
</article>
