$primary-color: #0881b3 !default;

$text-color: #21272d !default;
$text-color-light: #a4adb6 !default;
$link-color: $primary-color !default;
$border-color: #e5e5e5 !default;
$background-color: #fff !default;
