$sans: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif: Georgia, "Times New Roman", serif !default;
$mono: Monaco, Menlo, "Courier New", "Courier", monospace !default;
$default-font-size: 18px;
