$sans: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif: Georgia, "Times New Roman", serif !default;
$mono: Monaco, Menlo, "lucida console", "Courier New", "Courier", monospace !default;

.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

body {
  font-family: $sans;
}

code, pre {
  font-family: $mono;
}
