---
layout: default
---

<!-- May remove site header in the future. -->
{% include header.html %}

<div class="content" role="main">
  <article class="post">
    <header class="post-header">
      <div class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
        {% include category_links categories = page.categories %}
      </div>
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <section class="post-content">
      {{ content }}
    </section>

    <footer class="post-footer">
      {% include share.html %}
      {% include author.html %}
    </footer>
  </article>
</div>
